/**
 Name: NavBar.css
 Description: This css file will contain all the styles necessary for NavBar.js to display properly

 @author Justin Yau
 */

nav#main-nav {
    background-color: #f6f9f8;
}

ul#nav-list {
    margin-top: 5px;
}

ul#nav-list li {
    margin-right: 70px;
    font-size: 15px;
}

@media (min-width: 576px) {

    ul#nav-list {
        margin-top: 20px;
    }

    #nav-list .nav-item .nav-link  {
        padding: 0;
    }

    .navbar-light .navbar-nav .active a::after {
        border-bottom: 3px solid black;
        bottom: -7px;
        content: " ";
        left: 0;
        position: absolute;
        right: 0;
    }
}

.navbar-light .navbar-nav .nav-link {
    color: black !important;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: darkslategrey !important;
}

.navbar-light .navbar-nav .active {
    font-weight: bold;
}

.navbar-nav > li {
    float: left;
    position: relative;
}