/**
  Name: Overview.css
  Description: This css file will contain all the necessary css files needed by Overview.css to display properly

  @author Justin Yau
 */
div#main-div {
    margin-top: 30px;
    font-size: 15px;
}

div.col-sm-6, div.col-sm-3 {
    margin-top: 15px;
}

div.col-sm-3 {
    font-size: 14px;
}

ul#o-list {
    padding: 0;
    list-style-type: none;
}

strong.tall-line {
    line-height: 30px;
}